<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>看图</title>
</head>
<body>
    <div>
        <ul>
            {% for img_url in list_img %}
            <li style="list-style-type: none;margin-left: -40px">
                <img src="/static/img/{{ url }}/{{ img_url }}" alt="" style="width: 100%;height: 100%;">
                <span>{{ img_url }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>